@using System.Xml.Linq

<div id="Notice" class="text-center" style="display: @display">
    <div class="text-left">
        <h3 class="notice-header">@Header</h3>
        <h5 class="notice-startend text-center w-100">From @Start and lasting until @End</h5>
        <iframe src="/data/maintenance.htm" width="100%" height="100%">
        </iframe>
    </div>
</div>

@code {
    public string Header { get; set; }
    public string Msg { get; set; }
    public DateTime Start;
    public DateTime End;
        public string display { get; set; } = "block;";

        protected override void OnInitialized()
        {
            Console.WriteLine("In MessageNote Initialized");
            GetValues("Message.xml");
            Console.WriteLine($"Start {Start} End {End} Header {Header} Message {Msg}");
        }

        private void GetValues(string FilePath)
        {
            XElement root;
            try
            {
                var path = Environment.CurrentDirectory + "\\wwwroot\\data\\" + ($"{FilePath}");
                root = XElement.Load(path);
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Unable to access XML maintenace note. Path = {ex.Message}");
                // We don't want to end the program - display nothing and continue.
                return;
            }

            var message = root.Element("message");
            if (message != null)
            {
                DateTime.TryParse(message.Attribute("start").Value, out Start);
                DateTime.TryParse(message.Attribute("end").Value, out End);
                Header = message.Attribute("header").Value;
                Msg = message.Value;
            }
            if (DateTime.Now >= End)
            {
                display = "none;";
            }

        }
}