@layout Layout.AdminLayout
@page "/administration/dashboard"

<CheckAuth Roles=@RoleNames.CanViewAdminDashboard></CheckAuth>

<h3 class="w-100 text-center mt-3">Administration Dashboard</h3>

<div class="text-center">
    <h2>Bed Brigade</h2>
</div>

<p class="text-center">Please use the Administration menu to perform Admin functions.</p>
<p class="text-center">A future version of this dashboard will have summary information.</p>
