@page "/donation-cancellation"

<PageTitle>The Bed Brigade | Donation Cancellation</PageTitle>
<RotatorContainer RotatorTitle="Payment Cancelled" ImagePath="pages/Donations" LocationId="1" />

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h2>Payment Cancelled</h2>
            <p class="lead">Your donation has been cancelled.</p>
            <a href="/" class="btn btn-primary mt-4">Return Home</a>
        </div>
    </div>
</div>