@page "/"
@page "/{LocationRoute:nonfile}"
@page "/{LocationRoute:nonfile}/{PageName:nonfile}"

<PageTitle>@_currentPageTitle</PageTitle>

<div id="zoom-body">
@((MarkupString)_bodyContent)
</div>

<script src="/scripts/imageZoom.js"></script>


