@page "/admin/login"
@page "/admin/login/{user}"
@page "/admin/login/{user}/{password}"

@inherits LoginBase
@using BedBrigade.Client.Components
@using BedBrigade.Pages.Admin;
@using BedBrigade.Shared;
@using Syncfusion.Blazor.Buttons 
@using Syncfusion.Blazor.Notifications

<div class="text-center w-100 m-2 text-black-50">
    <h2>Bed Brigade</h2>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Please enter your login details</h5>
        <EditForm Model="loginModel" OnValidSubmit="HandleLogin">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="email">User Name</label>
                <InputText Id="email" @ref=@inputTextFocus Class="form-control" @bind-Value="loginModel.Email"  />
                <ValidationMessage For="@(() => loginModel.Email)" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <InputText Id="password" type=@passwordType Class="form-control" @bind-Value="loginModel.Password" />
                <SfCheckBox ID="showPassword" type="checkbox" TChecked="bool" CheckedChanged=@HandlePassword Label="Show Password" LabelPosition="Syncfusion.Blazor.Buttons.LabelPosition.After" />
                <ValidationMessage For="@(() => loginModel.Password)" />
            </div>
            <h6 class="warning login-error text-center" style="display: @DisplayError">@errorMessage</h6>
            <div class="w-100 text-center">
                <button type="submit" class="btn btn-primary">Log In</button>
            </div>
        </EditForm>
    </div>
</div>
<SfToast ID="SaveToast" @ref=@ToastObj Title=@ToastTitle Content=@ToastContent Width="100%" Timeout=@ToastTimeout >
    <ToastPosition X="Left" Y="Bottom"></ToastPosition> 
</SfToast>
<style>
    #toast_pos_property td {
        width: 50%;
        padding-top: 12px;
    }

    .e-toast-icon.e-laura.e-icons {
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50px !important;
        width: 60px !important;
        background-size: 50px 50px;
        margin-right: 15px;
    }

    @@media (min-width: 740px) {
        #toast_pos_property {
            width: 570px;
        }
    }

    .toast-pos-section #toast_pos_property {
        height: 500px;
        border: none;
        margin: auto;
    }

    .material-dark .toast-pos-section #formId label {
        color: #fff;
    }

    .bootstrap5 .e-toast-icon.e-laura.e-icons,
    .bootstrap5-dark .e-toast-icon.e-laura.e-icons {
        margin-top: 13px;
        margin-right: 14px;
    }

    .bootstrap5 .e-toast-container .e-toast .e-toast-icon,
    .bootstrap5-dark .e-toast-container .e-toast .e-toast-icon {
        position: relative;
    }

    .bootstrap5 .e-toast-container .e-toast .e-toast-message,
    .bootstrap5-dark .e-toast-container .e-toast .e-toast-message {
        padding-left: 10px;
    }

    .bootstrap5 .e-toast-container .e-toast.e-toast-header-icon .e-toast-message .e-toast-title:first-child,
    .bootstrap5-dark .e-toast-container .e-toast.e-toast-header-icon .e-toast-message .e-toast-title:first-child {
        padding-left: 12px;
    }
</style>

