@layout Layout.AdminLayout
@page "/administration/admintasks/renamePage/{LocationId:int}/{ContentName}"
@using BedBrigade.Common.Constants
<CheckAuth Roles=@RoleNames.CanManagePages></CheckAuth>

@if (Model == null || Model.PageName == null || Model.PageTitle == null)
{
    <Spinner />
}
else
{
    <div class="container my-5 ">
        <h1>Renaming Page @_originalContent.Name</h1>
        <EditForm Model="@Model" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator/>
            <div class="form-group mb-3">
                <label for="pageTitle">Page Title</label>
                <InputText id="pageTitle" class="form-control" @bind-Value="Model.PageTitle" @oninput="UpdatePageName"/>
                <ValidationMessage For="@(() => Model.PageTitle)"/>
            </div>
            <div class="form-group mb-3">
                <label for="pageName">Page Name</label>
                <InputText id="pageName" class="form-control" @bind-Value="Model.PageName" @oninput="FilterPageName" placeholder="Alphanumeric and dashes only" title="Alphanumeric and dashes only"/>
                <ValidationMessage For="@(() => Model.PageName)"/>
            </div>
            @if (!string.IsNullOrEmpty(ErrorMessage))
            {
                <div class="alert alert-danger" role="alert">
                    @ErrorMessage
                </div>
            }
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-secondary" @onclick="HandleCancel">Cancel</button>
        </EditForm>
    </div>
}