@layout BedBrigade.Client.Shared.PageLayout
@page "/administration/edit/Header"
@using Orientation = Syncfusion.Blazor.Navigations.Orientation
@attribute [Authorize]
<header>
<div id="wrapper">
    <h3 class="w-100 my-3 text-center">Header Designer</h3>
    <div class="col-lg-12 col-sm-12 col-md-12">
        <div id="header" class="header-section dock-menu sticky-top">         
            <div class="flex-item-left">
                    <a href="/"><img class="logo" src=@logoUrl alt=@altText /></a>
                    <SfMenu @ref=@LeftMenu TValue="MenuItem" CssClass="align-middle" Orientation=@MenuOrientation>
                        <MenuEvents TValue="MenuItem" Created=@MenuCreated />
                    </SfMenu>
            </div>
            <div class="flex-item-center">
                <SfMenu @ref=@CenterMenu TValue="MenuItem" CssClass="align-middle" Orientation=MenuOrientation>
                    <MenuEvents TValue="MenuItem" Created=@MenuCreated />
                </SfMenu>
            </div>
            <div class="flex-item-right">
                <SfMenu @ref=@RightMenu TValue="MenuItem" Orientation=MenuOrientation>
                    <MenuEvents TValue="MenuItem" Created=@MenuCreated />
                </SfMenu>
             </div>
        </div>
    </div>
</div>
</header>
<section class="w-100 my-3 text-center">
    <SfButton Content="Logo" OnClick=@OnLogoClick />  <SfButton Content="Menu" OnClick=@OnMenuClick />  <SfButton Content="Delete" OnClick=@OnDeleteClick /> <SfButton Content="Change" OnClick=@OnChangeClick />  <SfButton Content="Save" />  <SfButton Content="Cancel" OnClick=@OnCancelClick />
</section>
<section class="w-100 my-3 text-center">
    <SfCard ID="MenuCard" >
        <CardHeader Title="Header Designer" SubTitle=@SubTitle />
        
    </SfCard>
</section>

@code {
    [Inject] private NavigationManager _nav { get; set; }
    private SfMenu<MenuItem> RightMenu { get; set; }
    private SfMenu<MenuItem> CenterMenu { get; set; }
    private SfMenu<MenuItem> LeftMenu { get; set; }
    private Orientation MenuOrientation { get; set; } = Orientation.Horizontal;


    // logo
    private string logoUrl { get; set; }
    private string altText { get; set; }

    // Card
    private string SubTitle { get; set; }

    private void MenuCreated()
    {

    }

    private void OnCancelClick()
    {
        _nav.NavigateTo("/administration/Dashboard");

    }

    private void OnLogoClick()
    {

    }
    private void OnMenuClick()
    {

    }
    private void OnDeleteClick()
    {

    }
    private void OnChangeClick()
    {

    }

}

<style>
    #header {
        margin-top: 40px;
        height: 80px;
        display: flex;
    }

        #header .flex-item-left {
/*            background-color: #f1fff1;
*/            padding: 10px;
            flex: 33.3%;
            text-align: left;
            vertical-align: middle;
            border: 1px dashed black;
        }

        #header .flex-item-center {
/*            background-color: #f1f1f1;
*/            padding-top: 0px;
            flex: 33.3%;
            text-align: center;
            border: 1px dashed black;
        }

        #header .flex-item-right {
/*            background-color: #f1f1ff;
*/            padding: 10px;
            flex: 33.3%;
            text-align: right;
            border: 1px dashed black;
        }

</style>