@layout BedBrigade.Client.Shared.AdminLayout
@page "/administration/manage/contacts"
@using BedBrigade.Common
@attribute [Authorize(Roles = RoleNames.CanManageContacts)]

<h3 class="w-100 text-center my-4">Contacts</h3>

@code {

}
