@layout BedBrigade.Client.Shared.AdminLayout
@page "/administration/manage/contacts"
@attribute [Authorize(Roles = "National Admin, Location Admin, Location Scheduler")]

<h3 class="w-100 text-center my-4">Contacts</h3>

@code {

}
