@layout BedBrigade.Client.Shared.AdminLayout
@page "/administration/manage/database"
@attribute [Authorize(Roles = RoleNames.NationalAdmin)]


   <div class="bg-light p-5 rounded-lg m-3">
      <h1 class="display-4">Database Dashboard</h1>
      <p class="lead">Bed Brigade Database Dashboard will be here.</p>
      <hr class="my-4">
    <p>A database dashboard will allow BedBrigade Administrator to monitor, visualize and report on the performance and health of database.</p>
</div>


@code{
   


 

}

<style>
   

</style>




