@layout BedBrigade.Client.Shared.AdminLayout
@using BedBrigade.Client.Components
@page "/administration/manage/locations"
@attribute [Authorize]

<h3 class="w-100 text-center my-4">Locations</h3>
<LocationGrid />

@code {

}
