@layout BedBrigade.Client.Shared.AdminLayout
@page "/administration/manage/testmediacontrol"
@attribute [Authorize]



<button id="showMediaControl" type="button" class="btn btn-primary" @onclick="(() => ShowLeft())">Left</button>
<button id="showMediaControl" type="button" class="btn btn-primary" @onclick="(() => ShowMiddle())">Middle</button>
<button id="showMediaControl" type="button" class="btn btn-primary" @onclick="(() => ShowRight())">Right</button>

<SfDialog @ref="MediaDialog" Width="90%" IsModal="true" ShowCloseIcon="true" Visible="false">
    <DialogEvents OnOpen="onOpen"></DialogEvents>
    <DialogTemplates>
        <Header>Upload Files</Header>
        <Content>

            <FileManager ShowHeader="false" FolderPath="@FolderPath"/>

        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton Content="Close" IsPrimary="true" OnClick="@CloseDialog"/>
    </DialogButtons>
</SfDialog>


