@if (Cultures != null && SelectedCulture != null)
{    <select id="languageSelect" @bind="SelectedCulture" @bind:event="onchange" data-location="@_locationState.Location">
        @foreach (var culture in Cultures)
        {
            <option value="@culture.Name">@RemoveTextAfterParenthesis(culture.EnglishName)</option>
        }
    </select>
}

@((MarkupString)headerContent) 


<style>

    .nadmin, .ladmin, .lsched, .ltreasure, .lauthor, .neditor, .leditor {
        display: none;
    }
    #edit, #admin, #manage {
        cursor: pointer;
        font-size: 15px;
        font-family: Comfortaa, cursive;
    }

        #edit::after, #admin::after, #manage::after {
            content: '';
        }

        #languageSelect {
        z-index: 1500;
        position: fixed;
        top: 35px;
        right: 10px;
        }

    @@media screen and (max-width: 1500px)
    {
        #languageSelect {
            top: 60px;
        }
    }

    @@media screen and (max-width: 767px) {
        #languageSelect {
            top: 75px;
            right: 10px;
            font-size: 1.5em;
        }
    }

    @@media screen and (max-width: 566px) {
        #languageSelect {
            top: 17px;
            right: 100px;
            font-size: 1.5em;
        }

        #languageSelect[data-location="rock-city-polaris"] {
            top: 35px;
        }
    }

    @@media screen and (max-width: 500px) {
        #locationName {
            left: 120px;
            position: absolute;
        }
    }

</style>

