@if (Cultures != null && SelectedCulture != null)
{
    <select id="languageSelect" @bind="SelectedCulture" @bind:event="onchange">
        @foreach (var culture in Cultures)
        {
            <option value="@culture.Name">@RemoveTextAfterParenthesis(culture.EnglishName)</option>
        }
    </select>
}

@((MarkupString)headerContent) 


<style>

    .nadmin, .ladmin, .lsched, .ltreasure, .lauthor, .neditor, .leditor {
        display: none;
    }
    #edit, #admin, #manage {
        cursor: pointer;
        font-size: 15px;
        font-family: Comfortaa, cursive;
    }

        #edit::after, #admin::after, #manage::after {
            content: '';
        }

        #languageSelect {
        z-index: 1500;
        position: fixed;
        top: 35px;
        right: 10px;
        }

    @@media screen and (max-width: 1500px)
    {
        #languageSelect {
            top: 60px;
        }
    }

    @@media screen and (max-width: 767px) {
        #languageSelect {
            top: 20px;
            right: 50%;
            font-size: 1.5em;
        }
    }
</style>

