<button id="languageButton" @onclick="SetSpanish">@_lc.Keys["Spanish"]</button>
@((MarkupString)headerContent) 


<style>

    .nadmin, .ladmin, .lsched, .ltreasure, .lauthor, .neditor, .leditor {
        display: none;
    }
    #edit, #admin, #manage {
        cursor: pointer;
        font-size: 15px;
        font-family: Comfortaa, cursive;
    }

        #edit::after, #admin::after, #manage::after {
            content: '';
        }

        #languageButton {
        z-index: 1500;
        position: fixed;
        top: 30px;
        right: 10px;
        }
</style>

