
@if (isLoading)
{
    <Spinner />
}
else
{
    if (!imagesFound)
    {
        <p><span>No images were found</span></p>
        <p><span>Location Path: @locationPath</span></p>
        <p><span>National Path: @nationalPath</span></p>
    }
    else
    {
        <img src="@imagePath" id="@myId" class="slider-angle-img" height="500" width="100%" />
    }
}
