<main class="body-content">
    <section class="flow">
        <div class="slider-rotator-bx widget widget-align-justify widget-size-100">
            <div class="Container " style="background-color:#ffffff;">
                <section class="flow">
                    <div class=" widget widget-align-justify widget-size-33">
                        <div class="Container slide-left-content" style="background-color:#ffffff;">
                            <section class="flow">
                                <div class="widget widget-h-t-m-l-block widget-align-justify widget-size-100 widget-h-t-m-l-block">
                                    <div class="widget-body">
                                        <h1>@LocationTitle</h1>
                                        <p>@LocationTagLine</p>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class=" widget widget-align-justify widget-size-66">
                        <div class="Container slider-rotator-right" style="background-color:#ffffff;">
                            <section class="flow">
                                <img src="/media/@ImagePath" alt="sliderRotator" class="Slide-home-rotator" height="620" width="70%">
                            </section>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</main>


