@layout BedBrigade.Client.Shared.AdminLayout
@page "/administration/admin/email"
@attribute [Authorize(Roles = RoleNames.CanSendBulkEmail)]

@if (Model == null || Model.Locations == null || Model.Locations.Count == 0 || Model.CurrentLocationId == 0)
{
    <span class="spinner-border text-success m-5"></span>

    <span>Loading ....</span>
}
else
{
    <div class="container my-5 ">
        <h1>Send Email</h1>
        <EditForm Model="@Model" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator/>
            @if (Model.IsNationalAdmin)
            {
                <div class="form-group mb-3">
                    <label for="locationDropdown">Location</label>
                    <SfDropDownList ID="locationDropdown" TValue="int" TItem="Location" Placeholder="Select a location" DataSource="@Model.Locations" @bind-Value="Model.CurrentLocationId">
                        <DropDownListFieldSettings Text="Name" Value="LocationId"></DropDownListFieldSettings>
                        <DropDownListEvents TValue="int" TItem="Location" ValueChange="LocationChangeEvent"></DropDownListEvents>
                    </SfDropDownList>
                </div>
            }

            <div class="form-group mb-3">
                <label for="emailRecipientOptionDropdown">To</label>
                <SfDropDownList ID="emailRecipientOptionDropdown" TItem="EnumNameValue<EmailRecipientOption>" TValue="EmailRecipientOption" DataSource=@Model.EmailRecipientOptions @bind-Value=@Model.CurrentEmailRecipientOption Enabled="true" Placeholder="Email Recipient Option" FloatLabelType="FloatLabelType.Auto">
                    <DropDownListFieldSettings Text="Name" Value="Value" />
                </SfDropDownList>
            </div>
            
            @if (Model.ShowEventDropdown)
            {
                <div class="form-group mb-3">
                    <label for="events" class="formlabel">Location Available Events&nbsp;(@Model.Schedules.Count)</label>
                    <SfDropDownList ID="events" TValue="int" TItem="Schedule" PopupHeight="350px" PopupWidth="350px" Placeholder="Select an event" DataSource="@Model.Schedules">
                        <DropDownListFieldSettings Value="ScheduleId" Text="EventSelect"></DropDownListFieldSettings>
                    </SfDropDownList>
                </div>
            }

            <div class="form-group mb-3">
                <label for="subject">Subject:</label>
                <InputText id="subject" class="form-control" @bind-Value="Model.Subject" />
            </div>

            <div class="form-group mb-3">
                <label for="body">Body:</label>
                <InputTextArea id="body" class="form-control" style="height:240px" @bind-Value="Model.Body"></InputTextArea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
    </div>
}