@layout Layout.AdminLayout
@page "/administration/manage/Configuration"

<CheckAuth Roles=@RoleNames.NationalAdmin></CheckAuth>

@using Syncfusion.Blazor.Grids
@using FilterType = Syncfusion.Blazor.Grids.FilterType
@using BedBrigade.Common.Models

@if (ConfigRecs == null)
{
    <Spinner />
}
else
{
    <div class="row">
        <div class="col-md-6 mt-3">
            <h2>Manage Configuration</h2>
        </div>
        <div class="col-md-6 mt-3">
            <UserInfo />
        </div>
    </div>

    <div class="col-md-12 control-sec">
        <div class="content-wrapper">
            <div class="row">
                <SfGrid @ref="Grid" TValue="Configuration" DataSource=@ConfigRecs
                        ContextMenuItems=@ContextMenu
                        EnablePersistence="true"
                        ShowColumnChooser="true"
                        Toolbar=@ToolBar
                        AllowPaging="true"
                        AllowSorting="true"
                        AllowExcelExport="true"
                        ShowColumnMenu="true"
                        AllowFiltering="true"
                        AllowReordering="true"
                        AllowResizing="true"
                        AllowSelection="true"
                        AllowPdfExport="true"
                        AllowTextWrap="true"
                        AllowGrouping="true">
                    <GridPageSettings PageSizes="@(new int[] { 5, 10, 15, 20, 25 })" PageSize="15" />
                    <GridEvents DataBound=@DataBound Destroyed=@OnDestroyed OnLoad=@OnLoad OnToolbarClick=@OnToolBarClick OnActionBegin=@OnActionBegin TValue="Configuration" />
                    <GridTemplates>
                        <EmptyRecordTemplate>
                            <span>@RecordText</span>
                        </EmptyRecordTemplate>
                    </GridTemplates>
                    <GridEditSettings ShowDeleteConfirmDialog="true"></GridEditSettings>
                    <GridFilterSettings Type="FilterType.CheckBox"></GridFilterSettings>
                    <GridSortSettings>
                        <GridSortColumns>
                            <GridSortColumn Field="SectionDescription" Direction="SortDirection.Descending" />
                        </GridSortColumns>
                    </GridSortSettings>
                    <GridColumns>
                        <GridColumn Field=@nameof(Configuration.ConfigurationId) IsPrimaryKey="true" Visible="false" ShowInColumnChooser="false" />
                        <GridForeignColumn Field=@nameof(Configuration.LocationId) ShowColumnMenu="false" HeaderText="Location" ForeignDataSource=@Locations ForeignKeyField="LocationId" ForeignKeyValue="Name" AllowFiltering="true" AllowGrouping="true" AutoFit="true" />
                        <GridColumn Field=@nameof(Configuration.SectionDescription) ShowColumnMenu="false" HeaderText="Section" Type="ColumnType.String" AllowEditing="false" AllowFiltering="true" AllowGrouping="true" />
                        <GridColumn Field=@nameof(Configuration.ConfigurationKey) HeaderText="Key" ShowColumnMenu="false" AllowFiltering="true" ShowInColumnChooser="false" />
                        <GridColumn Field=@nameof(Configuration.Encrypted) ShowColumnMenu="false" HeaderText="Encrypted" Type="ColumnType.Boolean" DisplayAsCheckBox="true" AllowEditing="false" AllowFiltering="true" Width="140" />
                        <GridColumn Field=@nameof(Configuration.GridDisplayValue) ShowColumnMenu="false" HeaderText="Value" Type="ColumnType.String" AllowEditing="false" AllowFiltering="true" />
                    </GridColumns>
                </SfGrid>

            </div>
        </div>
    </div>
}


@if (NoPaging)
{
    <style>
        .e-pager {
            display: none;
        }
    </style>
}


<style>
    /***************************************** ConfigurationGrid.razor.css ********************************************/

    .e-grid td.e-rowcell.e-focus.e-focused {
        box-shadow: none;
    }

    .e-grid th.e-headercell.e-focus.e-focused {
        box-shadow: none;
    }


</style>


