<header class="fixed-top bg-white shadow-sm">
    <nav class="navbar navbar-expand-md navbar-dark" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="/logos/logo.png" class="img-fluid" /></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars ms-1"></i></button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <Menu />
            </div>
        </div>
    </nav>
    <div class="head-mobile-view d-block d-md-none text-center ps-2 pe-2">
        <Menu />
    </div>
</header>