@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Web
@inject IWebHostEnvironment HostEnvironment


<Header />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @if(HostEnvironment.IsDevelopment())
            {
                @Body
            }
            else
            {

            <ErrorBoundary @ref=@errorBoundary >
                <ChildContent>
                   @Body
                </ChildContent>
                <ErrorContent>
                    <h2 class="w-100 text-center my-4">An Error has occured</h2>
                </ErrorContent>
            </ErrorBoundary>
             
            }        
        </article>
    </main>
</div>

@code {
    private ErrorBoundary errorBoundary;

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
        base.OnParametersSet();
    }
}