@using Microsoft.AspNetCore.Components
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="administration/admin/dashboard" Match="NavLinkMatch.All">
                <span class="oi oi-home " aria-hidden="true"/><span class="headSection"> Dashboard</span>
            </NavLink>
        </div>
       <AuthorizeView Roles="National Admin, Location Admin, Location Scheduler">
        <div class="px-3">
            <span class="headSection">Administration</span>
        </div>
        </AuthorizeView>
       <AuthorizeView Roles="National Admin, Location Admin, Location Communications, Location Scheduler">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="administration/admintasks/email">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Email
            </NavLink>
        </div>
        </AuthorizeView>
        <AuthorizeView Roles="National Admin, Location Admin">
            <div class="px-3">
            <span class="headSection" >Edit</span>
        </div>
        </AuthorizeView>
        <AuthorizeView Roles="National Admin, Location Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="administration/edit/home">
                    <span class="oi oi-list-rich" aria-hidden="true"></span>Home Page
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="National Admin, Location Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="administration/edit/volunteer">
                    <span class="oi oi-list-rich" aria-hidden="true"></span>Volunteer Page
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="National Admin, Location Admin">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="administration/edit/header">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Header
            </NavLink>
        </div>
        </AuthorizeView>
        <AuthorizeView Roles="National Admin, Location Admin">
            <div class="nav-item px-3">
            <NavLink class="nav-link" href="administration/edit/footer">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Footer
            </NavLink>
        </div>
        </AuthorizeView>
        <AuthorizeView Roles="National Admin, Location Admin, Location Scheduler">
        <div class="px-3">
            <span class="headSection" >Manage</span>
        </div>
        </AuthorizeView>
        <AuthorizeView Roles="National Admin, Location Admin, Location Scheduler, Location Treasurer">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="administration/manage/bedrequests">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Bed Requests
            </NavLink>
        </div>
        </AuthorizeView>
        <AuthorizeView Roles="National Admin">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="administration/manage/configuration">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Configuration
            </NavLink>
        </div>
        </AuthorizeView>
        <AuthorizeView Roles="National Admin, Location Admin, Location Scheduler">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="administration/manage/contacts">
                    <span class="oi oi-list-rich" aria-hidden="true"></span>Contacts
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="National Admin, Location Admin, Location Scheduler">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="administration/schedule/deliveries">
                    <span class="oi oi-list-rich" aria-hidden="true"></span>Deliveries
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="National Admin, Location Admin, Location Treasurer">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="administration/manage/donations">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Donations
            </NavLink>
        </div>
        </AuthorizeView>
        <AuthorizeView Roles="National Admin">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="administration/manage/locations">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Locations
            </NavLink>
        </div>
        </AuthorizeView>
        <AuthorizeView Roles="National Admin, National Editor, Location Admin, Location Editor">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="administration/manage/fm">
                    <span class="oi oi-list-rich" aria-hidden="true"></span>Media
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="National Admin, National Editor, Location Admin, Location Editor">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="administration/manage/pages">
                    <span class="oi oi-list-rich" aria-hidden="true"></span>Pages
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="National Admin, Location Admin">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="administration/manage/users">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Users
            </NavLink>
        </div>
        </AuthorizeView>
        <AuthorizeView Roles="National Admin, Location Admin, Location Scheduler">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="administration/manage/volunteers">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Volunteers
            </NavLink>
        </div>
        </AuthorizeView>
@*        <div class="nav-item px-3">
            <NavLink class="nav-link" href="administration/manage/grid">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Test Grid
            </NavLink>
        </div>
*@
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
