@layout BedBrigade.Client.Shared.AdminLayout
@page "/administration/admintasks/addpage"
@page "/administration/admintasks/addpage/{*imageRoute}"

<h5 class="w-100 text-center my-4">Add Page "@newPageName" To @LocationName</h5>

<EditContent PageName="NewPage" IsNewPage="true" saveUrl="@imageRoute"/>
