@layout BedBrigade.Client.Shared.MainLayout
@inject NavigationManager NavigationManager
@inject ILocationDataService LocationService
@page "/request-bed"

<div class="bg-light p-5 rounded-lg m-3">
    <h1 class="display-4">Bed Request</h1>
    <p class="lead">This page is under construction. Coming soon...</p>   
</div>

<SearchLocation  Title="Find a Bed Brigade Near Me" />



