@layout BedBrigade.Client.Shared.MainLayout
@page "/sorry"
<PageTitle>Sorry</PageTitle>
<h3 class="text-center my-6">Sorry - the page associated with this link was not found. Technical Services has been notified.</h3>

@code {
    // Add notification codes.
}
