@layout BedBrigade.Client.Shared.MainLayout
@inject NavigationManager NavigationManager
@inject ILocationDataService LocationService
@page "/volunteer"

<div class="bg-light p-5 rounded-lg m-3">
    <h1 class="display-4">Volunteer Registration</h1>
    <p class="lead">Bed Brigade new Volunteers will be able to register on this page to selected location.</p>
    <hr class="my-4">
    <p>New Volunteer will register for some location events, enter contact information and available vehicle type</p>
</div>

<SearchLocation  Title="Find a Bed Brigade Near Me" />



