@inherits LayoutComponentBase
@using BedBrigade.Client.Services
@inject IWebHostEnvironment HostEnvironment

<CustomErrorBoundary @ref=errorBoundary>
    <IdleLogout />
    <Header></Header>
    <div class="page">
        <main>
            <article class="content">
                @Body
            </article>
        </main>
    </div>
</CustomErrorBoundary>

