@using BedBrigade.Client.Services

<h1>@message</h1>

@code {
    [Inject] private IAuthService AuthService { get; set; }
    [Inject] private NavigationManager NavigationManager { get; set; }
    string returnUrl;
    string message = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        returnUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);

        //The user is logged in, but does not have the required role for a page
        if (AuthService.IsLoggedIn)
        {
            message = "Sorry, you are not authorized to view this page.";
        }
        //The user is not logged in
        else
        {
            NavigationManager.NavigateTo($"/login?returnUrl={returnUrl}", true);
        }
    }
}
